Lets_go_biking/Lets_go_biking/Connected Services/Proxy/ProxyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProxyCache" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProxyCache" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/MyService/ProxyService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Proxy" />
  <xs:complexType name="ArrayOfJCDStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JCDStation" nillable="true" type="tns:JCDStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJCDStation" nillable="true" type="tns:ArrayOfJCDStation" />
  <xs:complexType name="JCDStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="available_bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="available_bikes" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proxy" minOccurs="0" name="position" nillable="true" type="q1:ProxyService.Position" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDStation" nillable="true" type="tns:JCDStation" />
</xs:schema>