Lets_go_biking/Lets_go_biking/Connected Services/Proxy/ProxyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/MyService/ProxyService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyCache" />
  <xs:element name="getStationsFromProxy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsFromProxyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyCache" minOccurs="0" name="getStationsFromProxyResult" nillable="true" type="q1:ArrayOfJCDStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>